$accent: #81a1c1;
$accent-svg: invert(63%) sepia(15%) saturate(706%) hue-rotate(169deg) brightness(97%) contrast(88%);
$background-svg: invert(20%) sepia(17%) saturate(673%) hue-rotate(183deg) brightness(89%) contrast(91%);
$white-svg: invert(95%) sepia(7%) saturate(690%) hue-rotate(185deg) brightness(96%) contrast(91%);
