@mixin menu {
  display: none;
  flex-direction: column;
  $shadow-color: transparentize($background, .2);
  $shadow: 0 10px $shadow-color, -10px 10px $shadow-color, 10px 10px $shadow-color;
  position: absolute;
  background: $background;
  box-shadow: $shadow;
  width: 190px;
  color: $accent;
  border: 2px solid;
  margin: 0;
  padding: 10px;
  top: 10px;
  left: 0;
  list-style: none;
  z-index: 99;

  > li {
    color: white;
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
      color: $accent;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }

  a {
    color: inherit;
  }
}

@mixin header-menu-trigger {
  color: $accent;
  border: 2px solid;
  margin-left: 10px;
  height: 100%;
  padding: 3px 8px;
  margin-bottom: 0 !important;
  position: relative;
  cursor: pointer;
}

.navigation-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px 1px;

  &__inner {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      flex: 0 0 auto;
      margin-bottom: 10px;
      white-space: nowrap;

      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }

    @media ($phone) {
      padding: 0;

      li {
        margin: 0;
        padding: 0px;
      }
    }
  }

  .spacer {
    flex-grow: 1 !important;
  }
}

.menu__dropdown {
  display: none;
}

.menu__trigger::after {
  content: '▼';
}

.open .menu__trigger::after {
  content: '▲';
}

.menu__trigger:hover {
  background-color: darken($accent, 5%);
  color: darken($background, 5%);
  transition: color 0.2s ease, background-color 0.2s ease;
}

.open .menu__trigger:hover {
  background-color: $background;
  color: darken($accent, 5%);
}

.open .menu__trigger {
  background-color: $background;
  outline-style: solid;
  color: $accent;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.open .menu__dropdown {
  display: flex;
}



.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;

  &__trigger {
    margin-right: 0 !important;
    color: $accent;
    user-select: none;
    cursor: pointer;
  }

  &__dropdown {
    @include menu;

    .open & {
      display: flex;
    }

    > li {
      flex: 0 0 auto;
      margin-bottom: 10px;
    }
  }

  &--language-selector {
    .menu__trigger {
      @include header-menu-trigger;
    }

    .menu__dropdown {
      left: auto;
      right: 0;
    }
  }
}
